@charset "UTF-8";

/*Todas as demais mídias*/

/*typical Devaice Breakpoints
-------------------------
Pequnas telas: até 600px
Celualar: 600px 768px
Tablet: 768px 992px
desktop: 992px a 1200px
Grandes telas: acima de 1200 */
@media print {

}

@media screen and (min-width:768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {
    
}